VITE_IS_PHYSICS=true
VITE_CURSOR_VISIBLE=false
GOOGLE_CLIENT_ID=xxxxxx
GOOGLE_CLIENT_SECRET=xxxxxx
GOOGLE_REDIRECT_URI=xxxxxx
STACKS_WORKER_URL=https://xxxxxx.workers.dev
STACKS_WORKER_SECRET="xxxxxx"
WIFI_AP_SSID=STACKS-Setup
WIFI_AP_PASSWORD=stacks1234
