/* Base styles */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color-scheme: dark;
}

body {
	width: 720px;
	height: 720px;
	margin: 0;
	overflow: hidden;
	background: #0f0f0f;
	-webkit-font-smoothing: antialiased;
	touch-action: none;
}
